.row#faq-second-row
	.container
		.row
			.span2
				%h1 FAQ
			.span10
				.input-append.pull-right
					%input{type: "text", placeholder:"Search the FAQ by Keyword"}
					%button.btn.btn-success Search
.row#faq-third-row
	.container
		.row
			.span9.left-content
				.row-fluid
					%h4 Lorem Ipsum Dolor:
					%h5 Sed ut perspiciatis unde omnis iste?
					%p
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					%h5 Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia?
					%p
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					%p
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					%h5 Sed ut sint occaecat cupidatat non proident unde omnis iste?
					%p
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					%p
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					%p
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

			.span3.right-content
				.row-fluid.category
					%h3 FAQ
					%hr.hr-row
					%h4 Lorem ipsum dolor
					%p Sit amet consectetur
					%p Adipisicing elit
					%p Sed do eiusmod
					%h4 Tempor incididunt
					%p Labore et dolore magna
					%p Aliqua enim ad minim
					%h4 Beniam quis nostrud
					%p Exercitation ullamco
					%p Laboris nisi ut aliquip
					%p Labore et dolore magna
					%p Aliqua enim ad minim

