
.custom-upload {
    background: white;
}
.custom-upload input[type=file]
{
    outline:none;
    text-align: right;    
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
    width:547px;
    height: 104px;
    top: -70px;
    position: relative;
    cursor: pointer;
    
}

.custom-upload .fake-file
{
    height: 50px;   
}
	
.hide
{
    display: none;
}	

#videotube iframe{
    height: 100% !important;
    width: 100% !important;
}