.row#first-row
	.container
		.row
			.span4
				= link_to image_tag("mobb_logo.png", :class => "brand"), static_pages_home_page_path
			.span2.offset6
				%ul.nav.pull-right
					%li
						%i.icon-user
						= link_to "Lorem lpsum", '#', :style => "display:inline-block"